<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Latest Launches from the RNLI">

    <title>Latest Launches</title>

    <link id="favicon" rel="icon" href="https://seeklogo.com/images/R/RNLI_Lifeboats-logo-0CB448E7FB-seeklogo.com.png" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Latest Launches from the RNLI</h1>
    </header>
    <main>
      <form onsubmit="select()" id="forme">
        <label for="number">Amount to display</label>
        <input type="number" id="number" placeholder="1-50" value="50"required>
        <input type="submit" value=">" id="submit">
      </form>
      <ul id="inner">
        <% launches.forEach(launch => { %>
          <li>
            <div class="card">
              <h1>
                <%= launch.shortName %>
              </h1>
              <h2>
                <%= launch.title %>
              </h2>
              <p>
                Launched at <%= launch.time %> on <%= launch.date %>
              </p>
              <button onclick="window.location='https://<%= launch.website %>'">
                Website
              </button>
              <p>
                ID: <%= launch.id %>
              </p>
            </div>          
          </li>
        <% }) %>
      </ul>
      
      
    </main>
    
  </body>
</html>
